 {% extends "base.html" %} 
{% load static %}

  {% block content %}  
   {{ block.super }}
   <main class="main_class">

    <div class="table_Section">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">UserId</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
              </tr>
            </thead>
            <tbody>
{%for i in data%}
    <tr>
        <th scope="row">{{i.userId}}</th>
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{i.body}}</td>
    </tr>
{% endfor %}
            </tbody>
          </table>
    </div>

    <h1>I am inside of contact</h1>

    <img  src="{% static 'images/bird2.jpeg' %}" alt="">
   </main>
   
{% endblock %}