{% extends 'base.html' %}

{% block content %}
<h2 style='margin-left:550px'>Tasks</h2>
<hr>
<div class="row">
    {% for val in tasks %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h1>Task-ID:{{val.pk}}</h1>
                <h5 class="card-title">{{ val.taskTitle }}</h5>
                
                <p class="card-text">{{ val.taskDescription }}</p>
                <p class="card-text"><small class="text-muted">Assigned on {{ val.taskAssignDate }}</small></p>
                
                <p>Categories:
                    {% for tast in val.task.all %}
                    <button>{{tast}}</button>
                    {% endfor %}
                </p>
               
                {% if val.is_completed %}
                <p class="card-text"><span class="badge bg-success">Completed</span></p>
                {% else %}
                <a href="{% url 'edit_task' val.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_task' val.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
