{% extends "base.html" %}

{% block content %}

<div class="d-flex flex-wrap justify-content-center px-5">
   
     {% for post in form %}
     
     <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card mx-2">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            <p>Author: {{post.author.name}}</p>
            <p>
            {% for cat in post.category.all %}
            <button class="btn btn-primary btn-sm m-2">{{cat.Category_name}}</button>
            {% endfor %}
            </p>
            <a href="{% url "edit_post" post.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url "delete_post" post.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div> 
     
     {% endfor %}

    
  </div>

{% endblock %}